.trabaja {
    color: #888888;
    font-weight: 100;
    align-self: center;
}

.yui-skin-sam .yuimenubar .bd {
    display: none !important;
}

/* BASE16 custom */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
.login-table {
    width: 100%;
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    grid-template-rows: 1fr 80% 1fr;
    font-family: sans-serif;
}

.login-table tbody {
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    border-radius: 7.5px;
    box-shadow: 0px 0px 10px lightgray;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background: rgba(255,255,255,0.975);
    grid-template-columns: 10% auto 10%;
    overflow: auto;
}

.login-table tbody tr {
    padding: 0;
    text-align: left;
    display: grid;
    width: 100%;
    grid-column: 2/3;
}

.login-table tbody tr:last-child {
    align-self: end;
}

.login-table tbody tr input[type='text'], input[type='password'] {
    width: 90%;
    padding: 5px 15px;
    background: whitesmoke;
    margin-bottom: 10px;
    outline: none;
    border: none;
    font-size: 16px;
    border-bottom: solid 1px #3399FF;
    transition: all .3s ease;
    font-family: 'Roboto', sans-serif;
}

.login-table tbody tr input[type='text']:focus, input[type='password']:focus {
    border-width: 2px;
}

.login-table tbody tr .href {
    text-align: right;
}

.login-table tbody tr p {
    margin: 0;
}

.login-table tbody tr h2 {
    font-size: 16px;
    margin: 0;
    color: #3399FF;
    font-weight: 100;
}

.login-table tbody tr label{
    font-weight: 100;
}

.login-table tbody tr button {
    color: #3399FF;
    border: solid 1px #3399FF;
    border-radius: 5px;
    padding: 5px 20px;
    background: white;
    font-weight: 100;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
    font-size: 15px;
}

.login-table tbody tr button:hover {
    transform: scale(0.975);
}

.login-table tbody tr button:active {
    transform: scale(0.95);
    background: #3399FF;
    border-color: white;
    color: white;
}

html {
    background: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.phpmaker {
    font-family: inherit;
}

body {
    height: 100vh;
    background: url('../../global/img/7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

a {
    font-weight: 100;
    color: #3399FF;
}
.ewMenuRow {
    display: none;
}