@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

#RootMenu > div > ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    color: #3399FF;
    height: 100%;
}

#RootMenu > div > ul > li {
    border: none;
    height: 100%;
    display: grid;
    align-content: center;
}

#RootMenu > div > ul > li > a {
    border: dashed 1px transparent;
    transition: all .3s ease;
    color: #3399FF;
    font-weight: 300;
}

#RootMenu > div > ul > li > a:hover {
    border-right-color: #3399FF;
    border-left-color: #3399FF;
    font-weight: 500;
}

#RootMenu > div {
    background: none;
    height: 100%;
}

#RootMenu {
    background: none;
    height: 100%;
}

.main-menu {
    padding: 1%;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    box-shadow: 0px 0px 4px #3399FF;
}

*:not(.fa) {
    font-family: 'Roboto', sans-serif !important;
}

.yuimenubar > .bd > ul:after {
    display: none;
}

.yuimenubaritem-selected {
    background: none !important;
}



.ewTable.ewTableSeparate {
    border-radius: 10px;
    overflow: hidden;
    border: solid 2px #2a80d6;
}

.ewTable.ewTableSeparate .ewTableHeader > td {
    background: #3399FF;
    padding: 1%;
    font-weight: 300;
    border: solid 1px #2a80d6;
}
.ewTable.ewTableSeparate tbody {
    max-height: 50vh;
    overflow: auto;
}

.ewTable.ewTableSeparate tbody tr td {
    padding: 0.7%;
    border-color: #2a80d6;
    border-style: dashed;
}

.ewGrid .ewGridContent {
    border: none !important;
}

.ewGrid {
    width: 100%;
}

tbody > .ewTableAltRow {
    background: aliceblue;
    color: grey;
    transition: all .3s ease;
}

tbody > .ewTableAltRow, .ewTableRow {
    font-weight: 300;
}

.ewTableAltRow:hover, .ewTableRow:hover {
    background: rgba(72, 142, 255, 0.29);
    color: gray;
}

.ewTableAltRow:hover a, .ewTableRow:hover a {
    color: gray;
}

.ewTableRow.ewTableSelectRow {
    background: rgba(51, 106, 193, 0.29);
    color: grey;
}

.ewTableRow.ewTableSelectRow a {
    color: gray;
}

.ewTablePreviewRow > td {
    padding: 0 !important;
}
.ewGridLowerPanel {
    margin-top: 2vh;
    display: grid;
    align-content: center;
    background: transparent;
    border: none;

}
#ewpagerform{

    width: 100%;
    display: grid;
    justify-content: center;
}

#ewpagerform>table {
    width: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px lightgrey;
    padding: 2%;
    border: solid 1px whitesmoke;
    background: white;
    display: grid;
    padding: 5%;
}

.ewContentTable {
    padding: 2.5vh 5vw;
}
a {
    outline: none;
}
.ewBasicSearch {
    background: white;
    margin-bottom: 2.5vh;
    margin-top: 2.5vh;
    padding: 3%;
    border: solid 1px whitesmoke;
    box-shadow: 0px 0px 5px lightgray;
    border-radius: 5px;
    min-height: 0;
}
#xsr_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
}
#xsr_1 a {
    grid-row: 2/4;
    justify-self: baseline;
    text-decoration: none;
    border: solid 1px #3399FF;
    color: #3399FF;
    padding: 5%;
    border-radius: 5px;
    transition: all .3s ease;
    white-space: nowrap;
}
#xsr_1 a:hover {
    background: #3399FF;
    color: white;
}

input {
    outline: none;
}
input[type='submit'] {
    background: #3399FF;
    color: white;
    cursor: pointer;
    transition: all .3s ease;
    width: 100%;
    height: 100%;
}
#xsr_1 input[type='submit'] {
    grid-column: 3/4;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 4%;
}
#xsr_1 input[type='text'] {
    grid-column: 1/3;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    height: 100%;
}

input[type='submit']:hover {
    background: rgba(72, 142, 255, 0.29);
    border-bottom: solid 1px #3399FF;
}


.pager > .row:nth-child(2) {
    font-weight: 300;
}
input[type='text'] {
    border: none;
    border-bottom: solid 1px #3399FF;
    background: whitesmoke;
}

#xsr_2 {
    font-weight: 300;
    color: #3399FF;
}
.searchPanel {
    margin-bottom: 5vh;
}
.searchPanel > span {
    font-weight: 300;
    color: #3399FF;
}
.fa-times {
    cursor: pointer;
    color: lightcoral;
}
.ewTableSeparate td {
    text-align: center;
}
.pager {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}
.pager > .row {
    align-self: center;
    text-align: center;
}
.pager {
    color: gray;
}
.pager a {
    text-decoration: none;
}
.pager .fa {
    color: #3399FF;
    font-size: 18px;
}
.ewPager {
    width: 100%;
}
.ewGridLink {
    border: solid 1px #3399FF;
    color: #3399FF;
    padding: 1%;
    margin-top: 1vh;
    border-radius: 5px;
    display: block;
    max-width: 5vw;
    text-align: center;
    transition: all .3s ease;
    text-decoration: none;
}

.ewGridLink:hover {
    background: #3399FF;
    color: white;
}
.ewContentTable {
    min-height: 87.5vh;
}