
#tabs {
    position: fixed;
    right: 1%;
    left: auto;
    top: 10vh;
    width: 30%;
    height: auto;
    box-shadow: 0px 0px 10px lightgray;
    border: solid 1px lightgray;
}

#resume {
    position: fixed;
    right: 1%;
    left: auto;
    bottom: 7.5vh;
    top: auto;
    border: solid 1px lightgray;
    background: aliceblue;
    box-shadow: 0px 0px 10px lightgray;
    font-weight: 300;
}
#resume strong {
    color: #3399FF;
}
#facturasPagar{
    width: 100%;
    margin-top: 1vh;
    border-radius: 5px;
    overflow: hidden;
    border: solid 0.5px #3399FF;
}

#facturasPagar tbody .header {
    background: #3399FF !important;
}

#facturasPagar tbody td {
    border: dashed 0.5px #3399FF;
}

.ui-tabs .ui-tabs-panel {
    height: auto;
    max-height: 60vh;
}

.ewContentColumn {
    display: grid;
    grid-template-columns: 65% 1fr;
}

.searchPanel {
    grid-column: 1/2;
}

.ewContentColumn .ewGrid {
    grid-column: 1/2;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: whitesmoke;
    font-weight: 100;
}
.ui-widget-header {
    background: #3399FF;
    border: none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    color : #3399FF;
    background: white;
    font-weight: 300;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a{
    font-weight: 300;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color : #3399FF;
    font-weight: 300;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
    font-weight: 500;
}
#tabs-2 {
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-auto-flow: dense;
}

#tabs-2 > div:nth-child(3) {
    grid-row: 1/2;
}

#tabs-2 > form{
    grid-row: 2/3;
}

#tabs-2 span {
    color: #3399FF;
}
.butPago {
    background: none;
    color: green;
    justify-self: end;
}